body{
  margin: 0px;
  background-color: rgb(255, 255, 173);
}

::selection {
  color: white;
  background-color: rgb(0, 127, 14);
}

ul{
  list-style: none;
  margin: 0px;
  padding-left: 0px;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  font-weight: bold;
  color: rgb(0, 127, 14);
  text-decoration: underline;
}

.img{
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}


/* Header */
#header{
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
}

#logo{
  width: 95px;
  height: 100px;
  background-image: url("./resources/drawerv.png");
}

#logo:hover{
  box-shadow: 0px 5px 5px rgb(173, 173, 173);
  z-index: 73;
}

#nav{
  width: calc(100% - 95px);
  height: 100px;
}

/* Main tabs */
#maintabs{
  width: 100%;
  height: 38%;
  background-color: rgb(135, 176, 236);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.tab{
  width: 153px;
  height: 30px;
  margin-right: 10px;
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 8px 8px 0px 0px;
}

.tab:hover{
  background-color: white;
  color: rgb(25, 94, 192);
}

.tab div{
  width: 26px;
  height: 26px;
  margin-right: 17px;
}

/* Buttons */
#buttons{
  width: 100%;
  height: 62%;
}

.section{
  visibility: hidden;
  display: flex;
  flex-direction: row;
  height: 0px;
  background-color: rgb(255, 255, 255);
}

.button{
  width: 56px;
  height: 56px;
  border-radius: 4px;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.button:hover{
  box-shadow: 0px 5px 5px rgb(173, 173, 173);
}

.button .tooltip, #logo .tooltip {
  visibility: hidden;
  background-color: black;
  color: white;
  font-size: 0.77em;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 73;
  top: 105px;
}

.button .tooltip::after, #logo .tooltip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.button:hover .tooltip, #logo:hover .tooltip {
  visibility: visible;
}


/* Workbench */
canvas{
  width: 100%;
  height: calc(100vh - 104px);
}


/* Pop up */
.popup{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  z-index: 73;
  background-color: rgba(177, 177, 177, 0.5);
  visibility: hidden;
}

.form{
  background-color: white;
  flex-direction: column;
  border-color: black;
  border-style: outset;
  border-width: 2px;
  border-radius: 5px;
}

.form *{
  margin: 5px;
}

.okcancel{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.okcancel input{
  width: 73px;
}

/* Footer */
.icon{
  width: 35px;
  height: 35px;
}

.footer{
  z-index: 43;
  position: absolute;
  width: 703px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 1.2em;
  top: calc(100vh - 43px);
  left: calc((100vw - 703px)/2);
}

.footer ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: 4px;
  margin-left: 4px;
}

.footer ul li{
  margin: 4px;
}

.cc{
  background-image: url("../resources/cc.png");
}
.by{
  background-image: url("../resources/cc-by.png");
}
.nc{
  background-image: url("../resources/cc-nc.png");
}
.nd{
  background-image: url("../resources/cc-nd.png");
}

.footer a{
  font-family: 'Cabin Sketch';
}
